<h1>I am now in the articles page</h1>
<a href="/"><button>GO BACK</button></a>
<a href="/articles/new"><button>MAKE A NEW ARTICLE</button></a>

<div>
    {{#each theArticles }}
    <div>
        <a href="/articles/:title">{{this.title}}</a>
        <li>
            {{this.author}}
        </li>
        <li>
            {{this.description}}
        </li>
    </div>
    {{/each}}
</div>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>