<div class="bigContain">
    <div class="frontContain sec">
        <div class="frontChild sec">

            <h1 class="indexHead">{{title}}</h1>
            <a href="/articles"><button>GO BACK</button></a>
            <hr class="line">

            {{> author}}<br>
            <div>
                <p>
                    {{description}}
                </p>
            </div>

        </div>
    </div>
</div>