<div class="bigContain">
    <div class="frontContain sec">
        <div class="frontChild sec">

            <h1 class="indexHead">Edit</h1>
            <a href="/articles"><button>GO BACK</button></a>
            <hr class="line">

            <form id="myInput" action="/articles/edit/?_method=put" method="post">
                <input type="hidden" name="urlTitle" value="{{urlTitle}}">
                Author: <input type="text" name="author" value="{{author}}" class="twelve columns"><br>
                Description: <textarea type="text" class="twelve columns" name="description" cols="30"
                    rows="10">{{description}}</textarea><br>
                <input class="button-primary" type="submit" value="Submit">
            </form>

            <form action="/articles/edit/?_method=delete" method="post">
                <input type="hidden" name="urlTitle" value="{{urlTitle}}">
                <input id="delete" type="submit" value="Delete">
            </form>

            {{> message}}

        </div>
    </div>
</div>