<div class="bigContain">
    <div class="frontContain">
        <div class="frontChild">
            <h1>Articles & Products</h1>
            <a class="links" href="/articles"><button class="button-primary">ARTICLES</button></a>
            <a class="links" href="/products"><button class="button-primary">PRODUCTS</button></a>
        </div>
    </div>
</div>