<div class="bigContain">
    <div class="frontContain sec">
        <div class="frontChild sec">

            <h1 class="indexHead">{{name}}</h1>
            <a href="/products"><button>GO BACK</button></a>
            <hr class="line">

            <div>
                <li>
                    Price: {{price}}
                </li>
                <li>
                    Inventory: {{inventory}}
                </li>
            </div>

        </div>
    </div>
</div>